<div fxFlexFill>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <span>Bienvenido {{nombre}}</span>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="saving-account">Cuenta de Ahorros</a>
            <a mat-button routerLink="transaction-history">Historial de Transacciones</a>
            <a mat-button (click)="closeSession()" >Cerrar Sesión</a>
        </div>
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"
            opened="false" fxHide.gt-sm="true">
            <a mat-button routerLink="saving-account">Cuenta de Ahorros</a>
            <a mat-button routerLink="transaction-history">Historial de Transacciones</a>
            <a mat-button (click)="closeSession()" >Cerrar Sesión</a>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>