h1 {
    text-align: center;
}
.mat-form-field {
    width: 100% !important;
}

button {
    width: 100%;
}

.father {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f51b5;
}

.mat-card {
    width: 500px;
    height: 300px;
    padding: 40px;
}